@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-color: rgb(254, 237, 228);
    margin-bottom: 100px;
    margin-top: 100px;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6{
    color: rgb(251, 141, 116);
    font-family: 'Montserrat', sans-serif;
}
/* NavBar */
.nav{
    margin: 10px 0 80px 0;
}
.nav h2{
    text-align: center;
    color: rgb(251, 141, 116);
}
.navLinks {
    display: flex;
    justify-content: center;
}
.navLinks a{
    padding: 0 4% 0 4%;;
    text-decoration: none;
    color: black;
}
.navLinks h5:hover{
    color:rgb(167, 167, 167);
}
.navLinks h5{
    color: black;
}
/* Skill */
.skillList h2{
    text-align: center;
    margin: 50px 0 15px 0;
}
.skillList h5{
    color: black;
    text-align: center;
    line-height: 30px;
    word-spacing: 10px;
    padding: 0 20% 0 20%;
}
/* Projects */
#projects {
    margin: 80px 0 80px 0;
}
.projectDetails h2{
    text-align: center;
}
.projectColumn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.projectColumn a{
    text-decoration: none;
}
.projectColumn h4{
    font-weight: bolder;
}
.projectColumn h4, h5{
    text-align: center;
}
.projectColumn h5{
    color: black;
    padding: 0 12% 0 12%;
} 
.projectColumn img{
    display: block;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.projectTech h6{
    color: black;
    text-align: center;
    font-weight: bolder;
    word-spacing: 3px;
}
.projectLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 30px 0;
}
.projectLinks a{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(251, 141, 116);
}
.projectLinks h6:hover{
    color: rgb(167, 167, 167);
}
.projectLinks a:hover{
    text-decoration-color: rgb(167, 167, 167);
}
.project4 a{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(251, 141, 116);
}
.project4 h6{
    margin: 45px 0 0 0;
}
.project4 h6:hover{
    color:rgb(167, 167, 167);
}
.project4 a:hover{
    text-decoration-color: rgb(167, 167, 167);
}
/* About */
#about h2{
    text-align: center;
}
.aboutMe{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.aboutMe h4{
    text-align: inherit;
    color: black;
    padding: 0 5% 0 0;
}
.aboutMe img{
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}
/* Contact */
#contact{
    margin: 80px 0 0 0;
}
.contactDetails{
    text-align: center;
}
.contactDetails h6{
    color: black;
}
.contactDetails a{
    text-decoration: none;
}
.contactLinks h6:hover{
    color:rgb(167, 167, 167);
} 

@media only screen and (max-width: 700px) {
    .aboutMe h4{
        padding: 5%;
        font-size: 13px;
    }
    .aboutMe {
        display: block;
    }
    .aboutMe img{
        display: block;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    .projectColumn {
        display: block;
    }
    .projectColumn img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 240px;
    }
}
@media only screen and (max-width: 400px) {
    .nav h2 {
        margin: 0 7% 0 7%;
    }
    .projectColumn {
        display: block;
    }
    .projectColumn img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 180px;
    }
}
@media only screen and (min-width: 1000px){
    /* Deployment resize */
    h2{
        font-size: 250%;
    }
    h4{
        font-size:170%;
    }
    h5{
        font-size:130%;
    }
    h6{
        font-size:  120%;
    }
    a{
        font-size: 150%;
    }
    .contactDetails h6{
        font-size: 16px;
    }
    .projectLinks h6{
        font-size: 20px;
    }
    .project4 h6{
        font-size: 20px;
    }
    /* Deployment resize */
    .nav h2{
        margin: 0 10% 0 10%;
    }
    .skillList h5{
        margin: 0 12% 0 12%;
    }
    .projectColumn img{
        height: 450px;
        width: 80%
    }
    .aboutMe h4{
        padding: 0 5% 0 0;
        margin: 0;
    }
    .aboutMe img{
        width:50%;
        margin-left: auto;
        margin-right: 50px;
   }
} 
