@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-color: rgb(254, 237, 228);
}
h1, h2, h3, h4, h5, h6{
    color: rgb(251, 141, 116);
    font-family: 'Montserrat', sans-serif;
}
/* NavBar */
.nav{
    margin: 10px 0 80px 0;
}
.nav h1{
    text-align: center;
    color: rgb(251, 141, 116);
}
.navLinks {
    display: flex;
    justify-content: center;
}
.navLinks a{
    padding: 0 30px 0 30px;
    text-decoration: none;
    color: black;
}
.navLinks a:hover{
    color:rgb(167, 167, 167);
}
/* Skill */
.skillList h2{
    text-align: center;
    margin: 50px 0 15px 0;
}
.skillList h5{
    color: black;
    text-align: center;
    line-height: 30px;
    word-spacing: 10px;
}
/* Projects */
#projects {
    margin: 80px 0 80px 0;
}
.projectDetails h2{
    text-align: center;
}
.projectColumn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.projectColumn h4{
    font-weight: bolder;
}
.projectColumn h4, h5{
    text-align: center;
}
.projectColumn h5{
    color: black;
} 
/* About */
#about h2{
    text-align: center;
}
.aboutMe{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.aboutMe h5{
    text-align: inherit;
    color: black;
}
/* Contact */
#contact{
    margin: 80px 0 0 0;
}
.contactDetails{
    text-align: center;
}
.contactDetails h6{
    color: black;
}
.contactDetails a{
    text-decoration: none;
}
.contactLinks h6:hover{
    color:rgb(167, 167, 167);
} 